.container {
  border-radius: 5px;
}
.header {
  margin-top: 10px;
}

.logo {
  text-align: center;
  color: yellow;
}

.tree-logo {
  font-size: 8em;
  margin-bottom: -10px;
}

.featurette {
  text-align: center;
  padding: 10px;
}

.featurette h4 {
  font-size: 2rem;
  font-weight: 500;
}

.content {
  padding-top: 10px;
  border-top: 2px solid #444;

}

img.avatar{
  float: left;
  border-radius: 5px;
  height: 145px;
  margin: 2px 20px 10px 0px;
}
.info {
  text-align: justify;
}

.custom-value-input {
  width: 125px;
  margin-right: 10px;
}

.cta-buttons {
  text-align: center;
}
.cta-buttons button {
  display: block;
  width: 100%;
  margin: 0px 5px 10px 5px;
}

.custom-value {
  padding-left: 10px;
  text-align: center;
}

.custom-value button {
  width: initial;
  display: inline-block;
}

.mc-hidden-input {
  position: absolute; left: -5000px;
}
.mc-label-email {
  width: 150px;
  display: inline-block;
}
.mc-field-group .email{
  position: relative;
  top: -1px;
  margin-right: 10px;
}

.mc-button {
  background-color: white !important;
}