.creatorpage-highlights {
  margin-top: 20px;
}
.featurette.creatorpage-highlight {
	border: 1px solid #ddd;
  border-radius: 5px;
  /*background-color: #efefef;*/
  box-shadow: inset 0px 0px 10px #efefef;
  padding: 10px 0px 0px 0px;
  height: 40px;
  margin-top: 10px;
}
.sidebar {
  position: relative;
}

.sidebar .btn {
  width: 100%;
}

.sidebar input[type="number"] {
  width: 100%;
}
.creatorpage-avatar {
  display: inline-block;
  padding-left: 10%;
}
.creatorpage-avatar img{
  float: left;
  border-radius: 5px;
  width: 90%;
  margin: 2px 20px 10px 0px;
}

.creatorpage-project-name {
  margin-top: 14px;
}

.sidebar-key-info-heading {
  font-size: 2rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.sidebar-key-info {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.sidebar-other-info {
  font-size: 1rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.sidebar-actions {
  position: relative;
}

.creator-page .contract-card {
  width: initial;
  margin: 0px;
  margin-top: 16px;
}

.creator-page .min-amount-btn {
  font-size: .9rem;
}

.creator-page .more-options .min-amount-btn {
  padding-left: 16px;
  font-size: 0.8rem;
}