.nav-header a {
  text-decoration: none;
  color: #444;
}
.nav-header {
  border-bottom: 1px dashed #444;
  height: 45px;
}
.nav-logo {
	font-size: 2.5rem;
}

.nav-logo-text {
  color: #444;
  font-size: 2rem;
  margin-left: 10px;
  position: relative;
  bottom: 2px;
}
.right-nav-links {
	position: relative;
	top: 10px;
	float: right;
}

.right-nav-links a{
  margin-left: 10px;
}