.up-highlights {
  margin-top: 20px;
}
.featurette.up-highlight {
	border: 1px solid #ddd;
  border-radius: 5px;
  /*background-color: #efefef;*/
  box-shadow: inset 0px 0px 10px #efefef;
  padding: 10px 0px 0px 0px;
  height: 40px;
  margin-top: 10px;
}

.sidebar .btn {
  width: 100%;
}

.sidebar input[type="number"] {
  width: 100%;
}

img.up-avatar{
  float: left;
  border-radius: 5px;
  width: 100%;
  margin: 2px 20px 10px 0px;
}

.up-project-name {
  margin-top: 14px;
}