.web3-hub {
	padding: 0px 8px;
	float: right;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-left: 8px;
	cursor: pointer;
	background-color: #fff;
	right: 0px;
    top: 10px;
    z-index: 1;
    position: relative;
}

.web3-hub.opened {
	border-bottom: none;
	border-radius: 4px 4px 0px 0px;
}

.web3-hub.connected {
	color: green;
	border-color: green;
}

.web3-hub.not-connected {
	color: red;
	border-color: red;
}

/*.web3-hub.connected.not-main {
	border-color: yellow;
}*/

.web3-hub .connect-string {
	display: inline-block;
	margin-right: 4px;
}

.web3-drawer {
	position: absolute;
	padding: 8px 8px;
	margin-top: 10px;
	width: 101%;
    border: 1px solid green;
    border-top: none;
    top: 12px;
    left: -1px;
    padding-top: 16px;
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    box-sizing: border-box;
}

.web3-drawer li{
	overflow: hidden;
	list-style: none;
	border-top: 1px solid #ddd;
	
    padding: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.3rem;

    margin: 0px;
    top: -4px;
    position: relative;
}

.web3-drawer li:last-child {
	border-bottom: 1px solid #ddd;
}

.web3-drawer li i {
	padding: 0px 4px;
}

.web3-hub.not-connected .web3-drawer {
	color: red;
	border-color: red;
}